<!-- 
  Copyright (c) 2018 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->
{{- partial "google_tag_manager_no_script.html" . }}
<a class="sr-only" href="#content">{{ i18n "navigation-content-skip" }}</a>
<div class="header-outer-container">
  <header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
    <div class="nav-container">
      {{ partial "navbar.html" . }}
    </div>
    {{ partial "jumbotron.html" . }}
    {{ if eq .Page.Params.show_featured_story true }}
      <div class="featured-story" id="featured-story" data-publish-target="{{ .Page.Params.featured_content_publish_target | default .Site.Params.featured_content_publish_target | default "eclipse_org"}}">
        <div class="container">
          <div class="featured-story-block-container">
            <div class="featured-story-block featured-story-block-content featured-container"></div>
          </div>
        </div>
        <ul class="list-inline jumbotron-custom-social-icons-right">
          <li>Share this page:</li>
          <li><a href="#" onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href+'?utm_source={{.Permalink}}&amp;utm_campaign={{ .Page.Params.headline }}&amp;utm_medium=social-media-facebook-icon'),
              'facebook-share-dialog',
              'width=626,height=436');
            return false;"><img class="jumbotron-custom-social-icon" src="images/social-icons/facebook.svg"></a></li>
          <li><a href="#" onclick="
            window.open(
              'https://twitter.com/intent/tweet?text={{ .Page.Params.headline }}%20-%20&amp;url='+encodeURIComponent(location.href+'?utm_source={{.Permalink}}&amp;utm_campaign={{ .Page.Params.headline }}&amp;utm_medium=social-media-twitter-icon'),
              'twitter-share-dialog',
              'width=626,height=436');
            return false;"><img class="jumbotron-custom-social-icon" src="images/social-icons/twitter.svg"></a></li>
          <!--<li><a href="https://www.linkedin.com/company/eclipse-foundation"><img class="jumbotron-custom-social-icon" src="images/social-icons/linkedin.svg"></a></li>
          <li><a href="https://www.youtube.com/user/EclipseFdn"><img class="jumbotron-custom-social-icon" src="images/social-icons/youtube.svg"></a></li>-->
        </ul>
      </div>
    {{ end }}
  </header>
</div>

