<div id="members" class="featured-section featured-members">
    <div class="container">
        <div class="row">
            <div class="col-sm-18 col-sm-offset-3">
                <h2>Members</h2>
                <p class="big">Join leading organizations that are investing in driving the evolution, adoption, and sustainability of Eclipse IDE products and technologies</p>
                <div class="owl-carousel owl-theme ide-members-slider" data-slider-xs-count="3" data-slider-sm-count="3" data-slider-md-count="4" data-slider-lg-count="4"></div>
                <p><a class="btn btn-primary" href="https://accounts.eclipse.org/contact/membership">Contact Us About Membership</a></p>
            </div>
        </div>
        
    </div>
</div>