<div class="featured-section featured-news-events row">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 featured-news-block">
        <div class="featured-news">
          <h2>News</h2>
          <div class="matchheight-item" id="news-list-container" data-template-id="news-home-template" data-news-count="2" data-publish-target="eclipse_ide"></div>
          <ul class="list-inline block-summary-more margin-bottom-40">
            <li><a href="https://newsroom.eclipse.org/rss/news/ecd_tools/news.xml" title="Subscribe to our RSS-feed"><i class="fa fa-rss margin-right-5"></i></a><a href="/news">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/news">Submit News</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 text-center featured-events-block">
        <div class="featured-events">
          <h2>Upcoming Events</h2>
          <div class="matchheight-item" id="event-list-container" data-template-id="event-short-list" data-upcoming="1" data-count="4" data-publish-target="eclipse_ide"></div>
          <ul class="list-inline block-summary-more margin-bottom-40">
            <li><a href="https://events.eclipse.org">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/events">Submit Event</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>